body {
  font-family: sans-serif;
  background: #f5f5f5;
  margin: 0;
}

header {
  background: #0080ff;
  color: white;
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Produk */
.product-section {
  flex: 3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card .body {
  margin-top: 10px;
}

.card .title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card .price {
  color: green;
  margin-bottom: 10px;
}

.btn {
  width: 100%;
  padding: 8px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* KERANJANG */
.cart-section {
  flex: 1.2;
  background: white;
  padding: 20px;
  border-radius: 8px;
  height: max-content;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-btn {
  padding: 8px 14px;
  background: #28a745;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.cart-items {
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}

.cart-total {
  margin-top: 15px;
  font-weight: bold;
}

/* Footer */
footer {
  text-align: center;
  padding: 15px;
  background: #343a40;
  color: white;
  margin-top: 20px;
}
.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.belanja {
  position: fixed;
  bottom: -10px;
  color: #ff4d6d;
  font-size: 20px;
  animation: floatUp 4s linear forwards;
  opacity: 0.8;
  pointer-events: none;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(-150px) translateX(20px) scale(1.3);
  }
  100% {
    transform: translateY(-350px) translateX(-20px) scale(0.8);
    opacity: 0;
  }
}
